<meta http-equiv=content-type content=text/html;charset=us-ascii>
<title>jwi</title>
<body bgcolor=silver text=black link=green vlink=maroon>
<h1>a personal page of jwi</h1>
<h2>blips</h2>
<ul>
<li><a href=blips/12022.htm>12022</a>
</ul>
<h2>miscellaneous</h2>
<ul>
<li><a href=key.htm>my GPG public keys</a>
<li><a href=http://codeberg.org/jwi>my Codeberg</a>
<li><a href=http://razorback95.com>Razorback</a>
</ul>
<p><a rel=license href=license.txt>CC BY-SA 4.0</a>
