<meta http-equiv=content-type content=text/html;charset=us-ascii>
<title>a</title>
<p>at least Netscape Navigator 3 or Internet Explorer 3 is required to 
properly render this site
<p><a href=index.htm>continue visiting</a>
