<meta http-equiv=content-type content=text/html;charset=us-ascii>
<title>key</title>
<body bgcolor=silver text=black link=green vlink=maroon>
<h1>my PGP public keys</h1>
<h2>12022 001</h2>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEYc+eVBYJKwYBBAHaRw8BAQdAl9DP6D5IxbydLmt1XJoUotv9RDUSbbWL5QcL
f/+OApq0HCAoandpKSA8andpbWVnYW5lQGdtYWlsLmNvbT6IlAQTFgoAPBYhBI1i
b5oKGOVuZw30PteB+M4F3p3+BQJhz55UAhsDBQsJCAcCAyICAQYVCgkICwIEFgID
AQIeBwIXgAAKCRDXgfjOBd6d/l6+AQDh89yz0vehmZGg5fWVHVvXxNjtirPXC5k4
xV2YfT7aNwEAihD2kTi99naShcORu4CKGEnIE0lwztdoj7RcLPLu7wK4OARhz55U
EgorBgEEAZdVAQUBAQdAKrvrmUHFku38Phtalsw267jKwFsTNxWcJJn5Jh5LlAED
AQgHiHgEGBYKACAWIQSNYm+aChjlbmcN9D7XgfjOBd6d/gUCYc+eVAIbDAAKCRDX
gfjOBd6d/iF3AP4tHq5y78OEfNoHvDcEkKtamIyA89PRsG14Klg8TmjU6QEA+ld5
V81i/Ci+3cVH+HR/VXoQEbMj1C1Lz32ENxqPzws=
=on4j
-----END PGP PUBLIC KEY BLOCK-----</pre>
<p><a rel=license href=license.txt>CC BY-SA 4.0</a>
