<meta http-equiv=content-type content=text/html;charset=us-ascii>
<title>12022</title>
<body bgcolor=silver text=black link=green vlink=maroon>
<table>
<tr>
<td>011<td>the first article has been decided</tr>
<tr>
<td>010<td>i bought a basic and had a meeting with my
classmates</tr>
<tr>
<td>009<td>it is alone here</tr>
<tr>
<td>008<td>ortholinear and Dvorak should have been the standard</tr>
<tr>
<td>007<td>compiling everything from source alone these days is a very
bad idea</tr>
<tr>
<td>006<td>one of my life goal is to design a computer platform similar
to PC</tr>
<tr>
<td>005<td>FreeBSD is a nice operating system</tr>
<tr>
<td>004<td>i am quite a lazy person</tr>
<tr>
<td>003<td>correction:<em>before</em> 032</tr>
<tr>
<td>002<td>this place should be finished by 032 i hope</tr>
<tr>
<td>001<td>hi Internet</table>
<p><a rel=license href=../license.txt>CC BY-SA 4.0</a>
